<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous">

        <meta name="viewport" content="width-device-width, initial-scale=1.0">

        {% block head %}
        <div class="container">
            <title>FlipIt</title>
        </div>
        {% endblock %}

    </head>

    <br>

    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'index' %}">FlipIt</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'flashcards:flashcards' %}">Flashcards<span class="sr-only">(current)</span></a>
                    </li>

                    {% if request.user.is_superuser %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'admin:index' %}"><b>Admin Panel</b><span class="sr-only">(current)</span></a>
                    </li>    
                    {% endif %}
                </ul>

                <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'flashcards:dictionary' %}">
                    <input class="form-control mr-sm-2" 
                    name="word_searched" value="{{request.GET.word_searched}}" 
                    placeholder="Vocabulary Dictionary" aria-label="Search">
                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                </form>
              
            </div>
        </nav>
    

    <br>
    
    {% block body %}
    <div class="container">
        <h1>FlipIt</h1>
    </div>
    {% endblock %}

    </body>

    <script
    src="http://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

    <script 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous"></script>

</html>